:local(.container) {
  margin: 40px;
  border: 5px dashed blueviolet;
}
:local(.content) {
  font-size: 15px;
  text-align: center;
}
:local(.ui.green.large.inverted.stackable.menu) {
  background-color: blueviolet;
}